# Default ignored files
/../../.idea.Pointe._Part 2./.idea/shelf/
/../../.idea.Pointe._Part 2./.idea/workspace.xml
# Rider ignored files
/../../.idea.Pointe._Part 2./.idea/.idea.Pointe._Part 2..iml
/../../.idea.Pointe._Part 2./.idea/modules.xml
/../../.idea.Pointe._Part 2./.idea/contentModel.xml
/../../.idea.Pointe._Part 2./.idea/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/../../.idea.Pointe._Part 2./.idea/httpRequests/
# Datasource local storage ignored files
/../../.idea.Pointe._Part 2./.idea/dataSources/
/../../.idea.Pointe._Part 2./.idea/dataSources.local.xml
